@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --breakpoint-custom: 1000px;
}

@layer utilities {
  @keyframes slideDown {
    from {
      transform: translateY(0);
      opacity: 1;
    }
    to {
      transform: translateY(100%);
      opacity: 0;
    }
  }
  @keyframes slideUp {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .animate-slideDown {
    animation: slideDown 0.2s ease-out forwards;
  }

  .animate-slideUp {
    animation: slideUp 0.2s ease-out forwards;
  }
}

@layer base {
  .containerizing {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    @media (width >= 40rem /* 640px */) {
      max-width: 65rem /* 640px */;
    }

    @media (width >= 64rem /* 1024px */) {
      max-width: 90rem /* 1280px */;
    }

    @media (width >= 78rem /* 1250px */) {
      max-width: 90rem /* 1280px */;
    }
    @media (width >= 100rem) {
      max-width: 100rem;
    }
    @media (width >= 120rem /* 1536px */) {
      max-width: 125rem /* 1536px */;
    }
  }

  /* Custom blur compatible in all browsers */
  .custom-blur {
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    will-change: backdrop-filter;
  }
}

html {
  scroll-behavior: smooth;
  scrollbar-color: #9ca3af transparent;
  scrollbar-gutter: stable;
}

html[data-theme="dark"] {
  scrollbar-color: #4b5563 transparent;
}

/* FOR WEBKIT BROWSERS */
/* Width of scrollbar */
html::-webkit-scrollbar {
  width: 8px;
}

/* Scrollbar track (transparent) */
html::-webkit-scrollbar-track {
  background: transparent;
}

/* Scrollbar thumb */
html::-webkit-scrollbar-thumb {
  background-color: #9ca3af; /* light theme thumb */
  border-radius: 4px;
}

/* Dark theme thumb */
html[data-theme="dark"]::-webkit-scrollbar-thumb {
  background-color: #4b5563;
}

/* VIEW TRANSITIONS API CONFIGURATION */

/* Disable the browser's default cross-fade animation */
::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

/* Ensure the new theme sits on top during transition */
::view-transition-new(root) {
  z-index: 9999;
}

/* Ensure the group does not get trapped in a lower stacking context */
::view-transition-group(root) {
  z-index: 9999;
}
