@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --color-lightHover: #fff0f5;
  --color-darkHover: #2a004a;
  --color-darkTheme: #11001f;
  --color-menuTheme: #18002d;

  --font-esteban: var(--font-esteban);
  --font-roboto: var(--font-roboto);
  --font-righteous: var(--font-righteous);

  --shadow-customblack: 4px 4px 0 #000;
  --shadow-customwhite: 4px 4px 0 #fff;

  --grid-template-columns-auto: repeat(auto-fit, minmax(200px, 1fr));
}

@layer utilities {
  @keyframes slideDown {
    from {
      transform: translateY(0);
      opacity: 1;
    }
    to {
      transform: translateY(100%);
      opacity: 0;
    }
  }
  @keyframes slideUp {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .animate-slideDown {
    animation: slideDown 0.2s ease-out forwards;
  }

  .animate-slideUp {
    animation: slideUp 0.2s ease-out forwards;
  }
}

@layer base {
  .containerizing {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    @media (width >= 40rem /* 640px */) {
      max-width: 40rem /* 640px */;
    }
    @media (width >= 48rem /* 768px */) {
      max-width: 48rem /* 768px */;
    }
    @media (width >= 64rem /* 1024px */) {
      max-width: 64rem /* 1024px */;
    }

    @media (width >= 78rem /* 1250px */) {
      max-width: 90rem /* 1280px */;
    }
    @media (width >= 96rem /* 1536px */) {
      max-width: 100rem /* 1536px */;
    }
  }
}

html {
  scroll-behavior: smooth;
}
